<article class="card">
    <figure class="card__image-container">
        <img class="card__image" src={{article?.imageUrl}} alt="city">
    </figure>
    <div class="card__content">
        <h1 class="card__title">{{article?.title}}</h1>
        <p style="margin-bottom: 100px; ">{{article?.text}}
        </p>
      
        <nav class="meni">
            <a [routerLink]="['/clanci','top-news']" routerLinkActive="active">#Top news </a>
            <a [routerLink]="['/clanci','bitcoin']" routerLinkActive="active">#Bitcoin </a>
            <a [routerLink]="['/clanci','wall-street']" routerLinkActive="active">#Wall Street</a>
            <a [routerLink]="['/clanci','apple']" routerLinkActive="active">#Apple</a>
        </nav>
        <a style="float:left; font-size: 13px" href={{article?.source}}>GO TO SOURCE</a>
        <p style="font-style: italic;margin-top:32px;position: absolute;left: 86%;bottom: -60%;">{{article?.author}}</p>   
    </div>
    <footer class="card__footer">
        <time class="card__time">{{article?.date | date}}</time>
    </footer>
</article>