<main class="articles-container">

    <nav class="meni" [ngStyle]="{ 'background-image': 'url(' + pictureUrl + ')'}">
        <a [routerLink]="['/clanci','top-news']" routerLinkActive="active">#Top news </a>
        <a [routerLink]="['/clanci','bitcoin']" routerLinkActive="active">#Bitcoin </a>
        <a [routerLink]="['/clanci','wall-street']" routerLinkActive="active">#Wall Street</a>
        <a [routerLink]="['/clanci','apple']" routerLinkActive="active">#Apple</a>
        <app-search (inputValueChanged)="getSearchValue($event)"></app-search>
    </nav>
    <p class="message" *ngIf="!existArticle">{{message}}</p>
    <!-- <img class="cover" src={{pictureUrl}}   alt=""> --> 
    <app-article class="article" *ngFor="let article of articleList" id={{article.id}} title={{article.title}}
        imageUrl={{article.imageUrl}} description={{article.description}} text={{article.text}} date={{article.date}}
        category={{article.category}}  (clickChange)=display($event)>
    </app-article>
</main>